
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 1rem;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #00796b;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: #00796b;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


button {
  background-color: #00796b;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d40;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  body {
    font-size: 1.2rem;
  }
}
